<section class="section imgcarousel">

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/motivacao2.jpg"  alt="imagem1">
    </div>
    <div class="carousel-item">
      <img src="assets/img/motivacao2.jpg"  alt="imagem2">
    </div>
    <div class="carousel-item">
      <img src="assets/img/photo1644017916_2.jpeg"  alt="imagem3">
    </div>
  </div>
</div>
</section>
<section>

</section>
