<section class="all-contacts">
  <section class=" conteudo-contacts ">
    <div class="conteudoSecundario-escrita">
      <h1 class="title-contacts">Contatos</h1>
      <h2 class="subtitle-contacts">Tem uma Pergunta? <br> Você pode encontrar sua resposta na página de <strong class="duvidas-contacts" routerLink="/duvidas">
          Dúvidas Frequentes.</strong></h2>
      <h2 class="subtitle-contacts">Mas você também pode entrar em contato conosco pelos contatos abaixo:</h2>
    </div>
    <img class="conteudoSecundario-img" src="assets/img/circle.png" alt="Imagem de um circulo">
  </section>
  <section class="infos">
    <div>


      <h2 class="info-contacts-title"><i class="bi bi-whatsapp"></i>Whatsapp atendimento:</h2>
      <h2 class="info-contacts">Seg-Sex: 9:00 - 18:00 hrs <br> Sáb: 9:00 - 13:00 hrs</h2>
      <h2 class="info-contacts-email"><i class="bi bi-send-fill"></i>Envie um email para:</h2>
    </div>
    <div class="contacts">
      <h3 class="follow-contacts-title">SIGA-NOS</h3>
      <a class="follow-contacts gradient" href="https://www.instagram.com/lyrasemijoias/" target="_blank"> <i
          class="bi bi-instagram"></i>Instagram</a>
      <a class="follow-contacts follow-contacts-face" href="https://www.facebook.com/lyrasemijoia" target="_blank" ><i
          class="bi bi-facebook"></i>Facebook</a>
    </div>
  </section>
</section>
