<section class="conteudoPrincipal">
  <div class="conteudoPrincipalEscrita">
    <h1 class="conteudoPrincipalEscrita-titulo">Lyra Semijoias e Acessórios</h1>
    <h4 class="conteudoPrincipalEscrita-subtitulo">Atacado - Varejo - Consignação</h4>
    <button type="button" class="btn btn-outline-warning conteudoPrincipalEscrita-botao">Saiba mais</button>
  </div>
  <img class="conteudoPrincipalEscrita-img" src="assets/img/image-from-rawpixel-id-3854977-original.png" alt="Imagem de flor">
</section>

<section class="conteudoSecundario">
  <h3 class="conteudoSecundario-titulo">O que é a Lyra?</h3>

      <p class="conteudoSecundario-paragrafo">1 - A <strong>Lyra</strong> é uma loja <strong>especializada</strong> em semijoias de alta qualidade</p>

      <p class="conteudoSecundario-paragrafo">2 - Está a <strong>5 anos</strong> no mercado entregando o melhor das semijoias com os melhores preços</p>

      <p class="conteudoSecundario-paragrafo">3 - Peças com banho de <strong>Ouro 18K</strong> e o melhor de tudo, são <strong>antialérgicas</strong></p>

</section>
