  <header class="headerCSS">
    <img class="headerIMG" src="assets/img/Lyra.png" routerLink="/**" alt="Logo Lyra">
    <nav class="headerMenu">
      <a class="headerMenuItem" routerLink="/contats">Contatos</a>
      <a class="headerMenuItem" routerLink="showroom" >Showroom</a>
      <a class="headerMenuItem" routerLink="saibaMais">Saiba mais</a>
    </nav>
  </header>

  <main class="conteudo">
    <router-outlet></router-outlet>
  </main>

  <footer class="footerCSS">
    <img class="footer-img" src="assets/img/lyraFooter.png" alt="">
  </footer>
