

<section class="align-duvidas">

  <h1 class="titulo-duvidas">Dúvidas Frequentes - FAQ</h1>

  <div class="container">
    <div class="section">
      <div class="titulo" onClick="clickAccordion(0)">
        <h4 class="txt-titulo">As peças oxidam?</h4>
          <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">Usamos camadas extras de ouro 18k e verniz premium em nossas peças,
        que proporcionam alta durabilidade e brilho em todas as nossas peças.
        Levamos isso com muito rigor, para proporcionar uma grande experiência para nossos clientes.
        Ainda oferecemos uma garantia premium de 1 ano sobre o banho, no caso de oxidação dentro desse período,
        recebemos a peça rebanhamos ou fazemos o polimento e limpeza da peça.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(1)">
        <h4 class="txt-titulo">É seguro comprar na Lyra?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">Sim! A privacidade e a segurança dos nossos clientes dentro da
        nossa plataforma são uma prioridade para a Lle Veux.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(2)">
        <h4 class="txt-titulo">Os produtos são antialérgicos?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">Sim... Toda nossa linha é antialérgica, 100% isenta de Níquel e Cadmio</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(3)">
        <h4 class="txt-titulo">Quanto tempo de garantia tem os produtos?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">Oferecemos garantia de 1 ano, a partir do recebimento, sobre o banho de ouro e 3 meses sobre os
        defeitos da peça.Devendo o cliente seguir as recomendações de uso e sempre tomar os cuidados
        necessários na conservação das peças. Todas as peças são enviadas com certificado de
        garantia e recomendação de uso.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(4)">
        <h4 class="txt-titulo">É possível alterar o endereço de entrega após o fechamento do meu
            pedido?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">Sim! Enviamos uma mensagem por e-mail e whatsapp solicitando a confirmação de endereço,
        portanto você tem 24 horas para alteração do endereço. Após esse prazo, provavelmente já envamos seu pedido e
        teremos que solicitar a alteração do endereço junto aos Correios/Transportadora e o prazo de entrega pode se
        extender.
        Não esqueça de sempre checar seus dados no resumo do pedido antes de concluir a compra.Caso o seu pedido tenha o
        status
        atualizado para entregue, mesmo com um erro de endereço, e você não esteja com o produto em mão,
        cheque se outra pessoa recebeu o produto por você. Caso nenhum conhecido tenha recebido, entre em contato com o
        nosso SAC.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(5)">
        <h4 class="txt-titulo">E se não gostar da mercadoria? Posso devolver?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">De acordo com o artigo 49 do Código de Defesa do Consumidor, o cliente que realiza compras pelas
        lojas virtuais (Internet), o consumidor tem direito de devolver o produto em até sete dias corridos, contados
        da data do seu recebimento, mesmo que não tenha motivo algum para isso. É o chamado “direito de arrependimento”.
        Parágrafo único – Se o consumidor exercitar o direito de arrependimento previsto neste artigo, os valores
        eventualmente
        pagos, a qualquer título, durante o prazo de reflexão, serão devolvidos, de imediato, monetariamente
        atualizados,
        após a devolução das mercadoria.O valor de transporte como Correios ou transportadora (Ida e volta), neste
        caso é de responsabilidade do cliente. OBS.:
        Não reembolsamos valores de embalagem e não ressarcimos trocas/devoluções que sejam enviadas por SEDEX.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(6)">
        <h4 class="txt-titulo">Para onde devo enviar a mercadoria para troca?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">Você deve enviar um e-mail para nosso SAC - sac@lleveux.com , você receberá toda a instrução.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(7)">
        <h4 class="txt-titulo">Quanto custa o frete? Em quanto tempo recebo o meu pedido?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">Os valores de frete variam de acordo com o CEP de sua região e o método de envio escolhido.
        Da mesma forma, prazo de entrega poderá variar de acordo com a localidade de destino da encomenda.
        Essas informações são consultados no checkout de pagamento da loja, antes da confirmação do pedido,
        basta digitar o seu CEP no campo adequado. Ps. Sempre temos promoções de Frete Grátis, por favor consultar.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(8)">
        <h4 class="txt-titulo">A Lyra oferece descontos para compras no atacado?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">O foco da LLE VEUX são clientes do varejo. No entanto, caso queira comprar em grande quantidade,
        sempre temos algumas campanhas, nesse caso mande um e-mail para atendimento@lleveux.com ou nosso contato de
        Whatsapp.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(9)">
        <h4 class="txt-titulo">Como as peças Lyra são enviadas?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">Todas as peças são embaladas em caixas próprias - personalizadas - e acondicionadas
        com papel de seda e plástico bolha para proporcionar a melhor experiência e proteção para nossas clientes.
        Nossas embalagens são adequadas para você guardar suas Semijoias com segurança, evitando danos às peças.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(10)">
        <h4 class="txt-titulo">Qual a forma de envio dos dos produtos?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">odos os produtos serão postados via Correio ou Transportadora e, após a postagem,
        é gerado um código de rastreamento e enviado por e-mail, para que possa ser acompanhado.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(11)">
        <h4 class="txt-titulo">O prazo da entrega é calculado em dias corridos ou em dias úteis?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">O prazo da entrega é contado em dias úteis, pois dependemos dos correio/transportadoras,
        o qual não trabalha nos fins de semana.</p>
    </div>
    <div class="section">
      <div class="titulo" onClick="clickAccordion(12)">
        <h4 class="txt-titulo">AINDA COM DÚVIDAS?</h4>
        <i class="bi bi-plus icon"></i>
      </div>
      <p class="hide">Confira nossa página de Dúvidas Frequentes, provavelmente a resposta da sua dúvida já tenha sido
        respondida!
        <br>Dúvida sobre produtos, fretes e outros assuntos, você pode mandar um e-mail para atendimento@lleveux.com ou
        clicando no
        botão abaixo:
      </p>
    </div>
  </div>
</section>
